<nav>
    <div class="navbar bg-base-200 shadow">
        <a href="/" class="btn font-bold btn-ghost normal-case text-xl"
            >Discord<span class="text-primary">ape</span>
        </a>
    </div>
</nav>
